@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

#header-title {
  color: #31a5ac;
}
.text-section {
  background-color: #f8f8f8;
}
input {
  background-color: #dcdcdc;
  width: 229px;
  border: 0;
  border-radius: 5px;
  outline: none;
  padding: 3px;
  padding-left: 10px;
}
#save {
  width: 100px;
}
